<div class="container container_main">
  <div class="hero-image__container">
    <div class="hero-image__overlay">
      <div class="usage usage_main">
        {{input class="usage__input" readonly="readonly" value="$ npm install -g parch-cli"}}

        <div class="usage__description">
          Flexibility, power and simplicity.
        </div>
      </div>
    </div>
  </div>
</div>
